@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 30px;
  border: solid 5px #222;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
}
.balloon:before {
  position: absolute;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
  border-top: solid 30px #222;
  bottom: -30px;
  content: "";
  left: 8%;
}
.balloon:after {
  position: absolute;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  border-top: solid 25px #fff;
  bottom: -21.5px;
  content: "";
  left: 8.9%;
}
/* 回答はここに書いてね */
